* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  background: #afafaf;;
}

.title {
display: flex;
margin-top: 132px;
justify-content: center
}

.container {
  position: relative;
  width: 355px;
  height: 100%;
  margin: 50px auto;
  background-color: #fcfdfd;
  border-radius: 9px;
  padding: 25px;
  padding-right: 30px;
  box-shadow: 0px 31px 35px -26px #080c21;
}
.inner{
  margin: 15px auto;
}

ul {
  list-style-type: none;
}